/* Reset browser defaults */
html, body, header, nav, main,
footer, article, section, div, 
h1, h2, h3, h4,h5, p, ul, li, 
figure, img, a, time {
	padding: 0;
	margin: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	background-color: #666666;
}

h1 {
	font-size: 55px;
	font-weight: 900;
	text-align: center;
	font-family: Helvetica, Arial; 
	color: #ff0000;
	padding-top: 30px;
	padding-bottom: 30px;
}

h2 {
	font-size: 40px;
	font-weight: 800;
	font-family: Helvetica, Arial; 
	color: #000000;
	margin-left: 10px;
}

h3 {
	font-size: 30px;
	font-weight: 700;
	font-style: italic;
	font-family: Helvetica, Arial; 
	color: #000000;
}

h4 {
	font-size: 20px;
	font-weight: 300;
	font-family: Helvetica, Arial; 
	color: #000000;
	margin-top: 15px;
	margin-bottom: 5px;

}

h5 {
	font-size: 15px;
	font-weight: 100;
	font-style: italic;
	font-family: Helvetica, Arial; 
	color: #000000;
	margin-top: 10px;
	margin-bottom: 5px;
}

p {
	font-size: 15px;
	font-weight: 100;
	font-family: Times, "Times New Roman";
	color: #000000;
	margin-top: 5px;
}

a {
	text-decoration: none;
	font-style: italic;
	font-size: 12px;
	font-weight: 100;
	font-family: Times, "Times New Roman";
	color: #666666;
}

address {
	font-size: 12px;
	font-weight: 100;
	font-family: Times, "Times New Roman";
	color: #666666;
}

time {
	font-size: 12px;
	font-style: italic;
	font-weight: 100;
	font-family: Times, "Times New Roman";
	color: #666666;
}

header {
	background-color: #000000; 
	width: 998px;
	/*background-image: url(background.jpg);*/
	margin: 0 auto 0 auto;
	border: 1px solid #000000;
	border-radius: 10px;
	box-shadow: 0 2px 1px #000;
}

nav {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

article {
	width: 1000px;
	margin: 0 auto 0 auto;
	margin-top: 10px;
}

footer {
	background-color: #000000;
	width: 1000px;
	margin: 10px auto 0 auto;
	color: #666666;
	text-align: center;
	padding: 20px 0 20px 0;
	border-radius: 10px;
	box-shadow: 0 2px 1px #444444;
}

section {
	background-color: #cccccc;
	margin-top: 10px;
	border: 1px solid #000000;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	box-shadow: 0 2px 1px #000;
}

.code {
	background-color: #aaaaaa;
	border-radius: 10px;
	padding-left: 5px;
}

.result {
	background-color: #aaaaaa;
	border-radius: 10px;
	padding-left: 5px;
}

li {
	font-size: 15px;
	font-weight: 100;
	font-family: Times, "Times New Roman";
	color: #000000;
}

ul {
	padding-left: 30px;
	padding-right: 30px;
}

address {
	color: #666666;
}

#author-date {
	padding-left: 10px;
}

#author-date img {
	float: left;
	border-radius: 50%;
	box-shadow: 0 1px 1px #000;
}

#author-date p {
	float: right;
	margin-right: 845px;
	margin-top: 5px;
}

/*============================================================================*/

footer a:hover {
	color: #ffffff;
}

.code p{
	font-family: Courier, "Courier New";
}

.result {
	font-family: Courier, "Courier New";
}

.code li {
	font-family: Courier, "Courier New";
}

article header {
	background-color: #ffffff; 
	padding: 10px 0 55px 0;
	border-radius: 10px;
}

article header a:hover {
	color: #000000;
}  

nav ul {
	list-style-type: none;
	background-color: #ff0000;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
}

nav li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

nav a {
	font-style: normal;
	font-family: Helvetica, Arial; 
	font-size: 15px;
	color: #666666;	
	font-weight: 100;
}

nav a:hover {
	color: #000000;	
}