/* Google Web Fonts: Sans Serif type */
@import url('https://fonts.googleapis.com/css?family=Lato');
/* Google Web Fonts: Serif type */
@import url('https://fonts.googleapis.com/css?family=Arvo');
/* Google Web Fonts: Monoscape type */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* Reset browser defaults ("em", "i", "b", and "strong" tags not included) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, 
ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, 
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-color: #ffffff;
}

h1 {
	font-size: 55px;
	font-weight: 900;
	text-align: center;
	font-family: Arvo, Times, "Times New Roman"; 
	color: #2b2d32;
	padding-top: 30px;
	padding-bottom: 30px;
	text-shadow: 0 1px 1px #8c8c90;
}

h2 {
	padding-top: 0;
	font-size: 40px;
	font-weight: 800;
	font-family: Arvo, Times, "Times New Roman"; 
	color: white;
	margin-left: 10px;
	text-shadow: 0 1px 1px black;
}

h3 {
	font-size: 30px;
	font-weight: 700;
	font-style: italic;
	font-family: Arvo, Times, "Times New Roman"; 
	color: #2b2d32;
	text-shadow: 0 1px 1px #8c8c90;
}

h4 {
	font-size: 20px;
	font-weight: 300;
	font-family: Arvo, Times, "Times New Roman"; 
	color: #2b2d32;
	margin-top: 15px;
	margin-bottom: 5px;

}

h5 {
	font-size: 15px;
	font-weight: 100;
	font-style: italic;
	font-family: Arvo, Times, "Times New Roman"; 
	color: #2b2d32;
	margin-top: 10px;
	margin-bottom: 5px;
}

p {
	font-size: 15px;
	font-weight: 100;
	font-family: Lato, Helvetica, Arial;
	color: #8c8c90;
	margin-top: 5px;
}

a {
	text-decoration: none;
	font-style: italic;
	font-size: 12px;
	font-weight: 100;
	font-family: Lato, Helvetica, Arial;
	color: rgba(255, 255, 255, 0.65);
	/* Add transition to links when they're hovered over */
	transition: color 0.2s ease-in-out 0.1s;
}

header {
	background: radial-gradient(circle 800px, #ffffff, #f0f0f0);
	background-color: white; 
	/*background-image: url(background.jpg);*/
	box-shadow: 0 1px 1px black;
	/* header in fixed position (following 3 properties)*/
	position: fixed; 
	width: 100%;
	top: 0;
}

main {
	/* 
		216px top margin from start of the page
		30px top margin from header 
	*/
	margin-top: 216px;
}

article {
	width: 1000px;
	margin: 0 auto 0 auto;
}

section {
	background-color: #f0f0f0;
	margin-top: 10px;
	border: 1px solid #000000;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	box-shadow: 0 1px 1px black;
}

footer {
	background: linear-gradient(to top, #2b2d32, #3b3d42);
	margin: 30px auto 0 auto;
	color: #8c8c90;
	text-align: center;
	padding: 20px 0 20px 0;
	box-shadow: 0 1px 1px black;
}

address {
	font-size: 12px;
	font-weight: 100;
	font-family: Lato, Helvetica, Arial;
	color: rgba(255, 255, 255, 0.65);
}

time {
	font-size: 12px;
	font-style: italic;
	font-weight: 100;
	font-family: Lato, Helvetica, Arial;
	color: rgba(255, 255, 255, 0.65);
}

/* Navigation bar */
nav {
	background: linear-gradient(to bottom, #2b2d32, #3b3d42);
	overflow: hidden;
	/* center navigation menu items */
	text-align: center;
}

ul {
	padding-left: 20px;
	padding-right: 5px;
}

li {
	font-size: 15px;
	font-weight: 100;
	font-family: Lato, Helvetica, Arial;
	color: #8c8c90;
	margin-top: 5px;
}

/*----------------------------------------------------------------------------*/

a:hover {
	color: white;
}

.code-wrapper {
	background-color: #ffffff;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.code-wrapper p{
	font-family: 'Roboto Mono', Courier, "Courier New";
}

.code-wrapper li {
	font-family: 'Roboto Mono', Courier, "Courier New";
}

.result-wrapper {
	font-size: 15px;
	font-weight: 100;
	font-family: 'Roboto Mono', Courier, "Courier New";
	color: #8c8c90;
	margin-top: 5px;
	background-color: #ffffff;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.byline-wrapper {
	padding-left: 10px;
	margin-bottom: 10px;

}

.byline-wrapper img {
	float: left;
	border-radius: 50%;
	margin-right: 5px;
}

article header {
	background: #2b2d32;
	padding: 10px 0 10px 0;
	border-radius: 10px;
	position: static;
}

/* Links inside navigation bar */
nav a {
	padding: 14px 16px;
	font-style: normal;
	font-size: 16px;
	font-weight: 100;
	font-family: Lato, Helvetica, Arial;
	color: rgba(255, 255, 255, 0.65);
	background-color: inherit;
	transition: .3s background-color;
}

.dropdown {
	/* 
		The inside of element with a  class name of "dropdown" is formatted as 
		block-level box, and the element itself is formatted as an inline-level box.
	*/
	display: inline-block;
}

/* Dropdown button styling */
.dropbtn {
	padding: 14px 16px;
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 100;
	font-family: Lato, Helvetica, Arial;
	color: rgba(255, 255, 255, 0.65);
	background-color: inherit;
	transition: .3s background-color;
}

/* 
	Change the background color of links inside the navigation bar. Change the 
	background color of the dropdown button  when you hover the mouse over the 
	dropdown container (that includes the dropbutton & dropdown content)
*/
nav a:hover, .dropdown:hover .dropbtn {
	background-color: #005f5f;
}

/* Dropdown content */
.dropdown-content {
	/* hidden by default */
	display: none;
	position: absolute;
	background-color: #00ff00;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	/* 
		An element with gretaer stack order is always in front of an element with a
	 	lower stack order.
	*/
	z-index: 1;
}

/* Links inside dropdown content */
.dropdown-content a {
	color: red;
	padding: 10px 16px;
	/* Links are inline by default */
	display: block;
	text-align: left;
}

/* 
	Change the background color of links that are inside the dropdown content on
	hover.
*/   
.dropdown-content a:hover {
	background-color: #0000ff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}
